<!DOCTYPE html>
<html ng-app="shasta-water">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shasta Water Co.</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script>
        var page = "@ViewBag.Title";
    </script>
</head>
<body>
    <header>
        <a id="header-link" href='@Url.Action("Index", "Home")'>
            <img src='@Url.Content("~/Content/images/ShastaLogo.png")' />
            <h1>Shasta Water Company</h1>
        </a>
    </header>
    <div class="main col-sm-12">
        <nav id="toolbar" class="col-sm-2" sw-navigation>
            <ul>
                <li ng-repeat="category in categories" ng-class="{'active': page === category}" ng-click="changePage(category)">{{category}}</li>
            </ul>
        </nav><!--
     --><div class="main-content col-sm-10" sw-navigation>
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site")
    @Scripts.Render("~/bundles/angular")
    @RenderSection("scripts", required: false)
</body>
</html>
